<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <title>{{ code }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <link href="/static/error.css" rel="stylesheet">
</head>

<body>
    <canvas></canvas>
    <section id="about" class="animated bounce-in">
        <div class="bg-align">
            <h1>{{ code }}</h1>
            <p>{{ error }}</p>
            <p>{{ detail }}</p>
        </div>
        <div class="copyright">
            <p>GitHub@ <a title="此仓库基于 GPLv3" target="_blank" href="https://github.com/jinzhijie/PyBingApi">jinzhijie/PyBingApi</a></p>
        </div>
    </section>
    <script src="/static/evanyou.js"></script>
</body>

</html>