<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eri's API - 全球API调用分发</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <link href="./static/api-style.css" rel="stylesheet">
    <!--[if lt IE 9]>
            <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 mt-5"></div>
                <div class="col-sm-12 text-center">
                    <h1>Eri's API</h1>
                    <p class="pb-3">高速分发，内容多样 - 简洁的API小站</p>
                </div>
                <div class="col-sm-12 mt-5"></div>
            </div>
        </div>
    </div>
    <div class="index">
        <div class="container bd">
            <div class="row">
                <div class="col-sm-3 bd-feature">
                    <div class="f-icon"> <i class="fa fa-check-square"></i>
                    </div>
                    <h4>专业稳定</h4>
                    <p class="mb-0">运行稳定不宕机，持续可用</p>
                </div>
                <div class="col-sm-3 bd-feature">
                    <div class="f-icon"> <i class="fa fa-hourglass-end"></i>
                    </div>
                    <h4>快速响应</h4>
                    <p class="mb-0">托管于国内主机，连接快速</p>
                </div>
                <div class="col-sm-3 bd-feature">
                    <div class="f-icon"> <i class="fa fa-cogs"></i>
                    </div>
                    <h4>使用简单</h4>
                    <p class="mb-0">无需繁琐的配置，直接使用</p>
                </div>
                <div class="col-sm-3 bd-feature">
                    <div class="f-icon"> <i class="fa fa-lock"></i>
                    </div>
                    <h4>保护隐私</h4>
                    <p class="mb-0">全程HTTPS加密，安全传输</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center pt-5">
                <h4>开始使用</h4>

            </div>
        </div>
    </div>
    <div class="container pb-5">


        <div class="row">
            <div class="col-sm">
                <a href="bing">
                    <div class="index-use shadow">
                        <h5 class="pt-2">Bing 今日美图</h5>
                        <i class="fa fa-mouse-pointer">暂无文档</i>
                    </div>
                </a>
            </div>
        </div>


        <div class="row">
            <div class="col-sm">
                <a href="bing/1">
                    <div class="index-use shadow">
                        <h5 class="pt-2">Bing 历史美图</h5>
                        <i class="fa fa-mouse-pointer">暂无文档</i>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <a href="bing/random">
                    <div class="index-use shadow">
                        <h5 class="pt-2">Bing 随机美图</h5>
                        <i class="fa fa-mouse-pointer">暂无文档</i>
                    </div>
                </a>
            </div>
        </div>


    </div>
    <footer class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright <a href="https://kagurazakaeri.com/">Kagurazaka_Eri</a> © 2020 <br>
                        <a href="http://www.beian.miit.gov.cn/">沪ICP备20005762号-1</a> | <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011002005000">沪公网安备31011002005000号</a>
                        <!--请根据实际情况修改你的备案号-->
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
<!--Theme by Ye，https://api.imycy.net/-->
<!--原作者：github@jinzhijie/PyBingApi，授权给 Kagurazaka_Eri 作为 DEMO 演示-->
<!--此仓库基于 GPLv3-->
</html>